@import url(https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css);

* {
    direction: rtl;
    font-family: 'Vazir', sans-serif;

}

pre, .closeable, .code-block-caption, .sig {
    direction: ltr;
}
