@import url(https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v32.1/Vazirmatn-font-face.css);

* {
    direction: rtl;
    font-family: 'Vazirmatn', sans-serif;

}

pre, .closeable, .code-block-caption, .sig {
    direction: ltr;
}
